{% extends 'base.html' %}

{% block content %}
<section>

  <div class="container">
    <div class="row align-items-center">
      <div class="col-6">

          <div>
            <h2>Create an account</h2>
            <p>Already have an acocunt? <a href="{% url 'EstatelyApp:signin' %}">Sign in</a></p>
          </div>

          <form action="" method="POST">
            {% csrf_token %}

            {% if form.errors %}
              <strong style="color:red"><p>{{ form.errors }}</p></strong>
            {% endif %}

            <div class="mb-3">
              <label class="form-label">First name</label>
              <input type="text" class="form-control" name="first_name">
            </div>

            <div class="mb-3">
              <label class="form-label">Last name</label>
              <input type="text" class="form-control" id="" name="last_name">
            </div>

            <div class="mb-3">
              <label class="form-label">Postcode (optional)</label>
              <input type="text" class="form-control" id="" name="postcode">
            </div>

            <div class="mb-3">
              <label class="form-label">Email address</label>
              <input type="email" class="form-control" name="email">
            </div>

            <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" class="form-control" name="password">
              <ul>
                <li>Min. 5 characters</li>
              </ul>
            </div>

            <div class="mb-3">
              <label class="form-label">Confirm password</label>
              <input type="password" class="form-control" name="confirm_password">
            </div>

            <button type="submit" class="btn btn-primary">Create account</button>
          </form>
      </div>
    </div>
</section>
{% endblock %}
